@import "node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "global";
@import "material-you";

$gap: 0.25rem;

.pixel-map {
	&__calendar {
		position: relative;
		display: flex;
		flex-direction: column;
	}

	&__section-header {
		padding: 2rem 0rem;
		padding-top: 0rem;
	}

	&__section-heading {
		margin: 0;
		margin-right: 1rem;
		font-weight: bold;
	}

	&__header-icon {
		font-size: 2rem;
	}

	&__tagline {
		margin-bottom: 0rem;
	}

	&__legend {
		margin-bottom: 3rem;
	}

	&__legend-header {
		font-weight: bold;
		display: flex;
		width: min-content;
		margin-bottom: 1rem;
	}

	&__legend-items {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}

	&__legend-item {
		display: flex;
		justify-content: center;
		align-items: center;
		@include material-basic--tertiary;
		border-radius: $container-border-radius;
		padding-left: 0rem;
		overflow: hidden;
		font-size: 0.9rem;
	}

	&__legend-text {
		padding: 0.5rem 0.75rem;
		font-weight: bold;

		@include media-breakpoint-down(lg) {
			padding: 0.25rem 0.5rem;
		}
	}

	&__calendar-container {
		overflow: auto;
	}

	&__legend-item,
	&__calendar-area {
		transition:
			opacity $theme-transition-speed ease,
			filter $theme-transition-speed ease
		;

		&--inactive {
			opacity: 0.5;
			filter: blur(2px)
		}

		&--normal {
			opacity: 1;
			filter: blur(0px)
		}
	}

	&__calendar-area {
		display: grid;
		gap: $gap;
		width: 100%;
		min-width: max-content;
	}

	&__modal {
		@include material-basic--tertiary;
		display: flex;
		flex-direction: column;
		border-radius: $container-border-radius;
		padding: $container-padding;
		position: absolute;
		z-index: 2;
		box-shadow: $elevated-shadow;
		width: 85%;
		top: 50%;
		align-self: center;
		overflow: hidden;

		@include media-breakpoint-down(md) {
			top: 52.5%;
		}
	}

	&__modal-header-container {
		display: flex;
		align-items: center;
		margin-bottom: 1.5rem;
	}

	&__modal-header {
		color: #FFFFFF;
		border-radius: $container-border-radius;
		padding: 1rem;
		display: flex;
		max-width: min-content;
		gap: 0.5rem;
		align-items: center;
		margin-bottom: 0rem;

		& > * {
			margin-bottom: 0rem;
		}
	}

	&__modal-header-text {
		font-weight: bold;
	}

	&__modal-close {
		margin-left: auto;
		cursor: pointer;

		& > h2 {
			font-weight: bold;
			margin: 0rem;
		}
	}

	&__modal-overlay {
		content: " ";
		display: flex;
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: black;
		z-index: 1;
		opacity: 0.5;
		backdrop-filter: blur(10px);
	}

	&__modal,
	&__icon {
		&--special > h2 {
			color: #{var(--calendar-special-color)};
		}
		&--excellent > h2 {
			color: #{var(--calendar-excellent-color)};
		}
		&--good > h2 {
			color: #{var(--calendar-good-color)};
		}
		&--above-average > h2 {
			color: #{var(--calendar-above-average-color)};
		}
		&--average > h2 {
			color: #{var(--calendar-average-color)};
		}
		&--below-average > h2 {
			color: #{var(--calendar-below-average-color)};
		}
		&--bad > h2 {
			color: #{var(--calendar-bad-color)};
		}
		&--awful > h2 {
			color: #{var(--calendar-awful-color)};
		}
	}

	&__modal-spotify {
		@include material-button--tonal-tertiary;
		width: max-content;
		margin-left: auto;
		margin-top: 2.5rem;

		@include media-breakpoint-down(md) {
			width: 100%;
		}
	}

	&__spotify-icon {
		height: 1.5rem;
		width: 1.5rem;
		margin-right: 0.5rem;
	}

	&__icon > h2 {
		font-size: 2rem;
		padding: 1rem;
		margin: 0rem;
	}

	&__modal-reason {
		margin-bottom: 0rem;
	}

	&__day-markers {
		display: grid;
		grid-template-columns: repeat(32, minmax(0, 1fr));
	}
	&__day-numbers {
		display: flex;
		justify-content: center;
	}
	&__day-months {
		display: grid;
		gap: $gap;
		grid-template-columns: repeat(32, minmax(0, 1fr));
	}

	&__day-month-name {
		position: sticky;
		align-self: start;
	}

	&__day {
		display: flex;
		justify-content: center;
		@include material-basic--tertiary;
		font-weight: bold;

		&--example {
			height: 100%;
			width: 2.5rem;
			border-radius: 2rem;

			@include media-breakpoint-down(lg) {
				width: 2.5rem;
			}
		}

		&--invalid {
			opacity: 0.5;
		}
	}

	&__modal-header,
	&__day {
		&--special {
			background-color: #{var(--calendar-special-color)};
		}
		&--excellent {
			background-color: #{var(--calendar-excellent-color)};
		}
		&--good {
			background-color: #{var(--calendar-good-color)};
		}
		&--above-average {
			background-color: #{var(--calendar-above-average-color)};
		}
		&--average {
			background-color: #{var(--calendar-average-color)};
		}
		&--below-average {
			background-color: #{var(--calendar-below-average-color)};
		}
		&--bad {
			background-color: #{var(--calendar-bad-color)};
		}
		&--awful {
			background-color: #{var(--calendar-awful-color)};
		}
	}
}
