@import "node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "global";
@import "material-you";

$gap: 0.25rem;

.pixel-map {
	&__calendar {
		display: grid;
		gap: $gap;
	}
	&__day-markers {
		display: grid;
		grid-template-columns: repeat(32, minmax(0, 1fr));
	}
	&__day-numbers {
		display: flex;
		justify-content: center;
	}
	&__day-months {
		display: grid;
		gap: $gap;
		grid-template-columns: repeat(32, minmax(0, 1fr));
	}

	&__day {
		display: flex;
		justify-content: center;
		@include material-basic--secondary;

		&--special {
			background-color: #{var(--calendar-special-color)};
		}
		&--excellent {
			background-color: #{var(--calendar-excellent-color)};
		}
		&--good {
			background-color: #{var(--calendar-good-color)};
		}
		&--above-average {
			background-color: #{var(--calendar-above-average-color)};
		}
		&--average {
			background-color: #{var(--calendar-average-color)};
		}
		&--below-average {
			background-color: #{var(--calendar-below-average-color)};
		}
		&--bad {
			background-color: #{var(--calendar-bad-color)};
		}
		&--awful {
			background-color: #{var(--calendar-awful-color)};
		}

		&--invalid {
			opacity: 0.5;
		}
	}
}
