<div class="whats-playing">
	<header class="whats-playing__section-header">
		<h1 class="whats-playing__section-heading"><span class="whats-playing__header-icon material-symbols-rounded">music_note</span> What's playing</h1>

		<p class="whats-playing__tagline">These are my current faves when it comes to the music I'm listening to. Press the shuffle button below to change the content.</p>
	</header>
	<button (click)="shuffleArray(surfaceContent)" class="whats-playing__shuffle">
		<div class="material-symbols-rounded">
			shuffle
		</div>
		Shuffle content
	</button>
	<section class="whats-playing__surface-list">
		<article
			*ngFor="let surface of surfaces; index as i"
			[ngClass]="'whats-playing__surface whats-playing__surface--' + surface"
			[class.whats-playing__surface--normal]="!wideSurfaces.includes(surface) && !largeSurfaces.includes(surface)"
			[class.whats-playing__surface--large]="largeSurfaces.includes(surface)"
			[class.whats-playing__surface--wide]="wideSurfaces.includes(surface)"
		>
			<header class="whats-playing__header">
				<div class="whats-playing__title-thumb material-symbols-rounded">
					{{ shuffledArray[i].icon }}
				</div>
				<h2 class="whats-playing__heading">{{ shuffledArray[i].heading }}</h2>
				<p>{{ shuffledArray[i].subHeading }}</p>
				<a [href]="shuffledArray[i].link" target="_blank" class="whats-playing__link">
					<div class="material-symbols-rounded">
						open_in_new
					</div>
					{{ shuffledArray[i].linkText }}
				</a>
			</header>
			<div
				class="whats-playing__image-container"
				[class.whats-playing__image-container--full]="wideSurfaces.includes(surface) || largeSurfaces.includes(surface)"
				[class.whats-playing__image-container--normal]="!wideSurfaces.includes(surface) && !largeSurfaces.includes(surface)"
			>
				<responsive-image
					[imageName]="shuffledArray[i].image"
					class="surface__image"
					[imageAlt]="shuffledArray[i].image + ' image'"
					[class.whats-playing__image--wide]="wideSurfaces.includes(surface)"
					[class.whats-playing__image--normal]="!wideSurfaces.includes(surface) && !largeSurfaces.includes(surface)"
				></responsive-image>
			</div>
		</article>
	</section>
</div>