<div class="surfaces">
	<section class="surfaces__surface-list">
		<article
			*ngFor="let surface of surfaces"
			[ngClass]="'surfaces__surface surfaces__surface--' + surface"
			[class.surfaces__surface--large]="largeSurfaces.includes(surface)"
			[class.surfaces__surface--wide]="wideSurfaces.includes(surface)"
		>
			<header class="surfaces__header">
				<h1>Surface</h1>
				<p>This is a surface test for my portfolio.</p>
				<p><em>{{ surface }}</em></p>
			</header>
		</article>
	</section>
</div>