<div class="surfaces">
	<section class="surfaces__surface-list">
		<article
			*ngFor="let surface of surfaces; index as i"
			[ngClass]="'surfaces__surface surfaces__surface--' + surface"
			[class.surfaces__surface--large]="largeSurfaces.includes(surface)"
			[class.surfaces__surface--wide]="wideSurfaces.includes(surface)"
		>
			<header class="surfaces__header">
				<h2>{{ surfaceContent[i].heading }}</h2>
				<p>{{ surfaceContent[i].subHeading }}</p>
			</header>
			<div class="surfaces__image-container">
				<responsive-image
					*ngIf="largeSurfaces.includes(surface)"
					[imageName]="surfaceContent[i].image"
					class="surface__image"
					[imageAlt]="surfaceContent[i].image + ' image'"
				></responsive-image>
			</div>
		</article>
	</section>
</div>